*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*$
*.BAK
*.Z
*.bak
*.class
*.elc
*.ln
*.log
*.o
*.obj
*.olb
*.old
*.orig
*.pyc
*.pyo
*.rej
*~
,*
.#*
.DS_Store
.del-*
.make.state
.nse_depinfo
.project
.idea

pids
logs
results
lib-cov

npm-debug.log
node_modules

CVS.adm
RCS
RCSLOG
SCCS
_$*
libs
node_modules
dist
temp
index.html
app/static/css