<div>
  <div ng-if="position=='left'">
      <div class="il-column-sortable"  ng-if="!$parent.$parent.isLeftSidebarOpen()">
          <div>
              <button type="button" class="btn btn-default btn-lg il-sidebar-preview-button il-panel-sortable">
                  <div class="glyphicon glyphicon-search" aria-hidden="true"></div><div class="il-sidebar-preview-button-text">Search</div>
              </button>
          </div>
          <div class="il-panel-sortable">

              <button type="button" class="btn btn-default btn-lg il-sidebar-preview-button il-panel-sortable">
                  <span class="glyphicon glyphicon-list" aria-hidden="true"></span><div class="il-sidebar-preview-button-text">Navigation</div>
              </button>
          </div>
          <div class="il-panel-sortable">
              <button type="button" class="btn btn-default btn-lg il-sidebar-preview-button il-panel-sortable">
                  <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span><div class="il-sidebar-preview-button-text">Help</div>
              </button>
          </div>
          <div class="il-panel-sortable">
              <button type="button" class="btn btn-default btn-lg il-sidebar-preview-button il-panel-sortable">
                  <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span><div class="il-sidebar-preview-button-text">Help</div>
              </button>
          </div>
          <div class="il-panel-sortable">
              <button type="button" class="btn btn-default btn-lg il-sidebar-preview-button il-panel-sortable">
                  <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span><div class="il-sidebar-preview-button-text">Help</div>
              </button>
          </div>
          <div class="il-panel-sortable">
              <button type="button" class="btn btn-default btn-lg il-sidebar-preview-button il-panel-sortable">
                  <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span><div class="il-sidebar-preview-button-text">Help</div>
              </button>
          </div>
          <div class="il-panel-sortable">
              <button type="button" class="btn btn-default btn-lg il-sidebar-preview-button il-panel-sortable">
                  <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span><div class="il-sidebar-preview-button-text">Help</div>
              </button>
          </div>
          <div class="il-panel-sortable">
              <button type="button" class="btn btn-default btn-lg il-sidebar-preview-button il-panel-sortable">
                  <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span><div class="il-sidebar-preview-button-text">Help</div>
              </button>
          </div>
          <div class="il-panel-sortable">
              <button type="button" class="btn btn-default btn-lg il-sidebar-preview-button il-panel-sortable">
                  <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span><div class="il-sidebar-preview-button-text">Help</div>
              </button>
          </div>
          <div class="il-panel-sortable">
              <button type="button" class="btn btn-default btn-lg il-sidebar-preview-button il-panel-sortable">
                  <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span><div class="il-sidebar-preview-button-text">Help</div>
              </button>
          </div>
          <div class="il-panel-sortable">
              <button type="button" class="btn btn-default btn-lg il-sidebar-preview-button il-panel-sortable">
                  <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span><div class="il-sidebar-preview-button-text">Help</div>
              </button>
          </div>
          <div class="il-panel-sortable">
              <button type="button" class="btn btn-default btn-lg il-sidebar-preview-button il-panel-sortable">
                  <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span><div class="il-sidebar-preview-button-text">Help</div>
              </button>
          </div>
          <div class="il-panel-sortable">
              <button type="button" class="btn btn-default btn-lg il-sidebar-preview-button il-panel-sortable">
                  <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span><div class="il-sidebar-preview-button-text">Help</div>
              </button>
          </div>
          <div class="il-panel-sortable">
              <button type="button" class="btn btn-default btn-lg il-sidebar-preview-button il-panel-sortable">
                  <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span><div class="il-sidebar-preview-button-text">Help</div>
              </button>
          </div>
          <div class="il-panel-sortable">
              <button type="button" class="btn btn-default btn-lg il-sidebar-preview-button il-panel-sortable">
                  <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span><div class="il-sidebar-preview-button-text">Help</div>
              </button>
          </div>
          <div class="il-panel-sortable">
              <button type="button" class="btn btn-default btn-lg il-sidebar-preview-button il-panel-sortable">
                  <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span><div class="il-sidebar-preview-button-text">Help</div>
              </button>
          </div>
          <div class="il-panel-sortable">
              <button type="button" class="btn btn-default btn-lg il-sidebar-preview-button il-panel-sortable">
                  <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span><div class="il-sidebar-preview-button-text">Help</div>
              </button>
          </div>
          <div class="il-panel-sortable">
              <button type="button" class="btn btn-default btn-lg il-sidebar-preview-button il-panel-sortable">
                  <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span><div class="il-sidebar-preview-button-text">Help</div>
              </button>
          </div>
          <div class="il-panel-sortable">
              <button type="button" class="btn btn-default btn-lg il-sidebar-preview-button il-panel-sortable">
                  <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span><div class="il-sidebar-preview-button-text">Help</div>
              </button>
          </div>
          <div class="il-panel-sortable">
              <button type="button" class="btn btn-default btn-lg il-sidebar-preview-button il-panel-sortable">
                  <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span><div class="il-sidebar-preview-button-text">Help</div>
              </button>
          </div>
          <div class="il-panel-sortable">
              <button type="button" class="btn btn-default btn-lg il-sidebar-preview-button il-panel-sortable">
                  <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span><div class="il-sidebar-preview-button-text">Help</div>
              </button>
          </div>
          <div class="il-panel-sortable">
              <button type="button" class="btn btn-default btn-lg il-sidebar-preview-button il-panel-sortable">
                  <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span><div class="il-sidebar-preview-button-text">Help</div>
              </button>
          </div>
          <div class="il-panel-sortable">
              <button type="button" class="btn btn-default btn-lg il-sidebar-preview-button il-panel-sortable">
                  <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span><div class="il-sidebar-preview-button-text">Help</div>
              </button>
          </div>
          <div class="il-panel-sortable">
              <button type="button" class="btn btn-default btn-lg il-sidebar-preview-button il-panel-sortable">
                  <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span><div class="il-sidebar-preview-button-text">Help</div>
              </button>
          </div>
          <div class="il-panel-sortable">
              <button type="button" class="btn btn-default btn-lg il-sidebar-preview-button il-panel-sortable">
                  <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span><div class="il-sidebar-preview-button-text">Help</div>
              </button>
          </div>
      </div>
      <span ng-if="$parent.$parent.isLeftSidebarOpen()">
            Content
      </span>
  </div>
  <div ng-if="position=='right'">
      <div class="il-column-sortable"  ng-if="!$parent.$parent.isRightSidebarOpen()">
          <div class="clearfix">
              <button type="button" class="btn btn-default btn-lg il-sidebar-preview-button">
                  <div class="glyphicon glyphicon-bullhorn" aria-hidden="true"></div><div class="il-sidebar-preview-button-text il-panel-sortable ">Messages</div>
              </button>
          </div>
          <div class="clearfix">
              <button type="button" class="btn btn-default btn-lg il-sidebar-preview-button">
                  <span class="glyphicon glyphicon-comment" aria-hidden="true"></span><div class="il-sidebar-preview-button-text il-panel-sortable ">Comments</div>
              </button>
          </div>
          <div class="clearfix">
              <button type="button" class="btn btn-default btn-lg il-sidebar-preview-button">
                  <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span><div class="il-sidebar-preview-button-text il-panel-sortable ">Notes</div>
              </button>
          </div>
          <div class="clearfix">
              <button type="button" class="btn btn-default btn-lg il-sidebar-preview-button">
                  <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span><div class="il-sidebar-preview-button-text il-panel-sortable ">Calendar</div>
              </button>
          </div>
      </div>
  </div>
</div>
