<span>
  <div class="il-column-sortable" ng-if="position=='left'">
      <explorer>
      </explorer>
  </div>
  <span ng-if="position=='right'">
        <div class="il-column-sortable" >
            <div class="panel panel-default il-panel-sortable">
                <div class="panel-heading il-panel-sortable-heading">
                    <h3 class="panel-title">Panel 2</h3>
                </div>
                <div class="panel-body il-panel-sortable-content">
                    Panel content
                </div>
            </div>
            <div class="panel panel-default il-panel-sortable">
                <div class="panel-heading il-panel-sortable-heading">
                    <h3 class="panel-title">Panel 3</h3>
                </div>
                <div class="panel-body il-panel-sortable-content">
                    Panel content
                </div>
            </div>
            <div class="panel panel-default il-panel-sortable">
                <div class="panel-heading il-panel-sortable-heading">
                    <h3 class="panel-title">Panel 4</h3>
                </div>
                <div class="panel-body il-panel-sortable-content">
                    Panel content
                </div>
            </div>
        </div>
  </span>
</span>
