
/*
 * Navigation
 */

/* Hide for mobile, show later */
.il-sidebar-left,.il-sidebar-right {
  display: none;

}

@media (min-width: @screen-sm-min) {
  .il-sidebar-right, .il-sidebar-left {
    position: fixed;
    top: @il-header-height;
    bottom: 0;
    display: block;
    overflow-x: hidden;
    margin-top: -@line-height-computed;
    padding: @grid-gutter-width/2;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
  }
  .il-sidebar-left{
    left: 0;
    border-right: 1px solid #eee;
  }
  .il-sidebar-right{
    right: 0;
    border-left: 1px solid #eee;
  }
}

