<div class="well">
    <p ng-bind-html="entry.description"></p>
    <span ng-if="entry.context">
        <p><em ng-bind-html="entry.context"></em></p>
    </span>

    <b>German Title: {{entry.translations.german.title}}</b>
</div>

<div class="alert alert-{{stateType}}" role="alert">
    <p class="lead">State: {{entry.state}}</p>
    <p ng-if="entry.guiClass">GUI-Class: {{entry.guiClass}}</p>
    <p ng-if="!renderHtml">Abstract Component</p>
</div>
<div class="panel panel-default" ng-if="renderHtml">
    <div id="{{index}}-html-example" class="uiks-content-demo-container panel-body">
        <iframe id='{{index}}-iframe-example' src="{{htmlPath}}" width="100%" height="500px" ng-if="entry.isIframe"> </iframe>
        <div ng-include src="htmlPath" onload="onHtmlLoaded()" ng-if="!entry.isIframe"></div>
    </div>
</div>
<div class="panel-group" id="accordion{{index}}" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default" ng-if="renderHtml">
        <div class="panel-heading" role="tab" id="headingZero">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion{{index}}" data-target="#collapseZero{{index}}" aria-expanded="true" aria-controls="collapseZero">
                    DOM Structure
                </a>
            </h4>
        </div>
        <div id="collapseZero{{index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingZero">
            <div class="panel-body">
                <div hljs source="htmlCode" language="html"></div>
            </div>
        </div>
    </div>
    <div class="panel panel-default"  ng-if='entry.lessVariables !== undefined'>
        <div class="panel-heading" role="tab" id="headingLessVariables">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion{{index}}" data-target="#collapseLessVariables{{index}}" aria-expanded="false" aria-controls="collapseLessVariables">
                    Less Variables
                </a>
            </h4>
        </div>
        <div id="collapseLessVariables{{index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingLessVariables">
            <div class="panel-body">
                <div ng-repeat="(id, variable) in entry.lessVariables">
                    <less-variable
                            variable="variable">
                    </less-variable>
                </div>
                <span ng-if="entry.fullRelations.isA">
                    <p>Variables inherited from {{entry.fullRelations.isA.item.title}}</p>
                    <div ng-repeat="(id, variable) in entry.fullRelations.isA.item.lessVariables">
                       <less-variable
                               variable="variable">
                       </less-variable>
                    </div>
                </span>
            </div>
        </div>
    </div>
    <div class="panel panel-default" ng-if='lessCode !== undefined'>
        <div class="panel-heading" role="tab" id="headingLess">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion{{index}}" data-target="#collapseLess{{index}}" aria-expanded="true" aria-controls="collapseLess">
                    Less Code
                </a>
            </h4>
        </div>
        <div id="collapseLess{{index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingLess">
            <div class="panel-body">
                <div hljs source="lessCode" language="less"></div>
            </div>
        </div>
    </div>
    <div class="panel panel-default" ng-if='jsCode !== undefined'>
        <div class="panel-heading" role="tab" id="headingJS">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion{{index}}" data-target="#collapseJS{{index}}" aria-expanded="true" aria-controls="collapseJS">
                    JS Code
                </a>
            </h4>
        </div>
        <div id="collapseJS{{index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingJS">
            <div class="panel-body">
                <div hljs source="jsCode" language="javascript"></div>
            </div>
        </div>
    </div>
    <entry-relations entry="entry"></entry-relations>
</div>
