<div class="well">{{item.description}}</div>
<h4>ILIAS</h4>
<div ng-repeat="(id,variable) in item.variables.ilias">
    <div class="alert alert-{{getStateAlert(variable.state)}}" role="alert">
        <strong>{{variable.title}}: </strong>{{variable.description}}
    </div>
</div>
<h4>Bootstrap</h4>
<div ng-repeat="(id,variable) in item.variables.bootstrap">
    <div class="alert alert-{{getStateAlert(variable.state)}}" role="alert">
        <strong>{{variable.title}}: </strong>{{variable.description}}
    </div>
</div>
