<div class="alert alert-{{getStateAlert(variable.state)}}" role="alert" data-toggle="popover" placement="bottom" data-target="#{{variable.title}}Usages">
    <p>
        <strong>{{variable.title}}: </strong>{{variable.description}}
    </p>
    <p ng-if="relations">
        Used in:
        <span ng-repeat="(id,relation) in relations">
                    <a href="#/content{{relation.item.path}}" >
                        {{relation.subCategory.title}}: {{relation.itemGroup.title}} {{relation.item.title}};
                    </a>
        </span>
    </p>
</div>