<div class="il-header" role="banner">
    il-header (see header section for more information and necessary less variables)
</div>
<div class="il-content" role="main">
    <sidebars class="il-sidebar il-sidebar-left il-sidebar-minified">
        <div class="il-sidebar-blocks-wrapper">
        </div>
    </sidebars>
    <div class="il-content-center il-content-center-full row">
        Center Content (see center content section for more information and necessary less variables)
    </div>
    <sidebars class="il-sidebar il-sidebar-right il-sidebar-minified">
        <div class="il-sidebar-blocks-wrapper">
        </div>
    </sidebars>
</div>
<div class="il-footer" role="contentinfo">
    il-footer (see footer section for more Information and necesssary less variables)
</div>