<p>
    <p>
    "Divide and conquer. By splitting up the task into a sequence of chunks, each of which can be dealt with in a discrete “mental space” by the user, you effectively simplify the task. You have put together a preplanned road map through the task, thus sparing the user the effort of figuring out the task’s structure—all he needs to do is address each step in turn, trusting that if he follows the instructions, things will turn out OK."
    </p>
    <p>
        From: <a href="http://designinginterfaces.com/patterns/wizard/">Designing Interfaces</a>
    </p>
</p>