

.il-make-fixed-block-open-width(){
  width: percentage((@il-sidebar-open-xs / @grid-columns));

  @media (min-width: @screen-sm-min) {
    width: percentage((@il-sidebar-open-sm / @grid-columns));
  }
  @media (min-width: @screen-md-min) {
    width: percentage((@il-sidebar-open-md / @grid-columns));
  }
  @media (min-width: @screen-lg-min) {
    width: percentage((@il-sidebar-open-lg / @grid-columns));
  }
}