<span>
<div id="ilContent" class="container">
    <!-- Breadcrumb Section ================================================== -->
    <entry-breadcrumb category-selected="{{categorySelected.Title}}" entry-selected="{{entrySelected.Title}}"></entry-breadcrumb>
    <!-- Tabs Section ================================================== -->
    <div role="tabpanel">
        <!-- Nav tabs -->
        <ul id="Tablist" class="nav nav-tabs" role="tablist">
            <dropdown-categories ng-repeat="(categoryIndex,category) in categories" category="category" index="categoryIndex">
                <dropdown-entry ng-repeat="(entryIndex,entry) in category.Items"
                                entry="entry"
                                category-index="categoryIndex"
                                index="entryIndex"
                                on-entry-selected="onEntrySelected(entryIndex,categoryIndex)">
                                </dropdown-entry>
            </dropdown-categories>
        </ul>
    </div>
    <!-- Entry Section ================================================== -->
    <entry-content ng-repeat="(index,subItem) in entrySelected.SubItems" entry="subItem" index="index"></entry-content>
</div>
</span>