<div class="il-header" role="banner">
    <!-- For Screen reader, skip-navigation see: http://getbootstrap.com/getting-started/#accessibility -->
    <a class="sr-only sr-only-focusable" href="#il-content">Skip to main content</a>

    <!-- branding section ================================================== -->
    <div class="il-header-branding ng-isolate-scope">
        Branding
    </div>

    <!-- top navigation section================================================== -->
    <ul class="il-header-top-nav">
        <li>
            <a>
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </li>
    </ul>

    <!-- main menu section================================================== -->
    <div class="il-header-main-menu">
        Main Menu
    </div>
</div>
<script src="/libs/jquery/dist/jquery.js"></script>
<script src="/libs/bootstrap/dist/js/bootstrap.js"></script>