<div class="il-header">
    <!-- branding section ================================================== -->
    <header-branding>
   </header-branding>

    <!-- top navigation section================================================== -->
    <header-top-nav>
    </header-top-nav>

    <!-- main menu section================================================== -->
    <main-menu>
        <main-menu-categories ng-repeat="(categoryIndex,category) in categories"
                            title="{{category.title}}"
                            is-active="{{categorySelected.index == categoryIndex}}"
                >
            <main-menu-entry ng-repeat="(entryIndex,entry) in category.subCategories"
                           title="{{entry.title}}"
                           index="{{entryIndex}}"
                           category-index="{{categoryIndex}}"
                           is-active="{{categorySelected.index == categoryIndex && subCategorySelected.index == entryIndex}}"
                           on-dropdown-entry-selected="onDropdownEntrySelected(categoryIndex,entryIndex)">
            </main-menu-entry>
        </main-menu-categories>
    </main-menu>
</div>
