.il-header-main-menu{
  position: absolute;

  top: auto;
  height: @il-header-main-menu-height;
  bottom: @il-header-main-menu-bottom;
  left: @il-header-main-menu-left;
  right: @il-header-main-menu-right;

  .il-header-main-menu-content{
    height: @il-header-main-menu-height;
    color: @il-header-main-menu-color;
    background: @il-header-main-menu-bg;

    border: @il-header-main-menu-border;
    border-radius: @il-header-main-menu-border-radius;
  }

  .il-header-main-menu-entries{
    float: @il-header-main-menu-float;
  }

  .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: @il-header-main-menu-active-color;
    background: @il-header-main-menu-active-bg;
  }

  .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: @il-header-main-menu-open-color;
    background: @il-header-main-menu-open-bg;
  }
}